* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Oswald', sans-serif;
}
h1 {
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

.score-div {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 0 auto;
}
#score-value,
#high-score-value {
    font-weight: 300;
}
.button-div {
    width: 60%;
    margin: 1em auto;
}

.game-board {
    background-image: url(images/snake.jpg);
    background-size: contain;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}
.square {
    height: 40px;
    width: 40px;
    background-color: rgb(88, 2, 2);
}
.snake {
    background-color: blue;
}
.apple {
    background-color: green;
}

.game-over {
    background-color: ivory;
    text-align: center;
    font-size: 1.25em;
}